@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #0b1120;
  min-height: 100vh;
  color: #fff;
}
header {
  background-blend-mode: color-dodge;
  background-color: #0b1120;
  background-size: cover;
  backdrop-filter: blur(20px);
  background-position: center;
}
#About,
#Projects,
#Events {
  background: repeating-linear-gradient(
    45deg,
    #7c3aed 0px,
    #7c3aed 20px,
    #0b1120 20px,
    #0b1120 40px
  );
  background-color: #7c3aed;
}
